/* GRID */

.contain {
  width: 92%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;

}

.grid_max {
  width: 92%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

.home .grid_max {
  margin-bottom: 3em;
}

.single-post .grid_max, .page .grid_max {
  margin: 3em auto;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
  margin: .877193% .877193% 2.631579% .877193%;
  overflow: hidden;
}

.twelve {
  margin: .877193% .877193% .877193% .877193%;
  overflow: hidden;
}

.right {
  float: right !important;
  margin-left: 20px;
}

.inset {
  margin-left: 260px;
}

.left {
  float: left;
}

.one {
  width: 75px;
}
.two {
  width: 170px;
}
.three {
  width: 23.245614%;
}
.four {
  width: 31.578947%;
}
.five {
  width: 455px;
}
.six {
  width: 550px;
}
.seven {
  width: 56.578947%;
}
.eight {
  width: 740px;
}
.nine {
  width: 835px;
}

.ten {
  width: 930px;
}

.eleven {
  width: 1025px;
}

.twelve {
  width: 98.245614%;
  overflow: hidden;
}