// Header Styles

.nav-bar {
  background: $darkPurple;
  padding: 1% 0;
  font-size: .85em;
  a {
    border-bottom: none;
    color: lighten($darkPurple, 40%);
    margin: 0 4.5% 0 0;
    &:last-child {
      margin: 0;
    }
    &:hover {
      color: lighten($darkPurple, 55%);
    }
  }
}

.header-nav {
  float: left;
  white-space: nowrap;
  margin: 00.8333333% 0 0;
}

.subscribe-search {
  float: right;
  overflow: hidden;
  width: 39.5833333%;
}

.subscribe {
  color: white;
  float: left;
  margin: 01.8421053% 4% 0 0;
  white-space: nowrap;
  li {
    display: inline-block;
    padding: 0 02.0833333% 0 0;
    &:first-child {
      font-weight: bold;
    }
  }
}

.search-form {
  float: left;
  #s {
    background: lighten($darkPurple, 10%);
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    height: 31px;
    float: left;
    @include transition(background .2s ease-in-out);
    &:focus {
      background: white;
    }
  }
  #searchsubmit {
    background: lighten($darkPurple, 15%);
    border-radius: 0 3px 3px 0;
    float: left;
    padding: 5px 10px;
    height: 31px;
    color: white;
    @include transition(background .2s ease-in-out);
    &:hover {
      background: $linkColor;
    }
  }
}


.statement {
  background: $primaryOrange;
  padding: $padding 0 0;
  overflow: hidden;
  max-height: 350px;
}

.logo {
  background: url(../img/logotype.svg) no-repeat;
  border-bottom: none;
  display: block;
  margin: 0 03.125% 0 0;
  width: 300px; height: 283px;
  text-indent: -9999px;
  float: left;
}

.logo-alt {
  background: url(../img/logotype-alt.svg) no-repeat;
  border-bottom: none;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 450px; height: 115px;
}

.description {
  float: left;
  width: 65.625%;
  margin: 4% 0 0;
  p {
    color: white;
    font-size: 1.5em;
    font-weight: 200;
  }
  a {
    color: darken(#d26000, 10%);
    &:hover {
      color: darken(#d26000, 20%);
    }
  }

}

.guest-sponsor-bar {
  background: #eee;
  padding: 2.5% 0;
  h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 4%;
  }
  h3 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0 3.125%;
  }
  p {
    font-size: .9em;
    color: lighten($bodyColor, 25%);
  }
}

.guest-info {
  float: left;
  width: 50%;
  text-align: right;
  img {
    float: right;
    height: 80px; width: auto;
    margin: 0 0 0 3.5%;
  }
  span {
    color: $bodyColor;
    font-weight: bold;
  }
}

.adspot {
  @extend .guest-info;
  text-align: left;
  img {
    float: left;
    height: 100px; width: 150px;
    margin: 0 3.5% 0 0;
  }
}