.page-navigation{
  margin: $padding 0;
}

.wp-pagenavi {
  border-top: 1px solid $borderColor;
  overflow: hidden;
  text-align: center;
  padding: 7% 0 0;
}

.wp-pagenavi a {
  background: $primaryOrange;
  border: none !important;
  display: inline-block;
  padding: 8px 14px;
  margin: 0 5px;
  font-weight: bold;
  color: white;
  @include border-radius (4px);
  &:hover {
    background: darken($primaryOrange, 5%);
    color: white;
  }
  &:active {
    box-shadow: inset 2px 2px 0 rgba(black, .2);
  }
}

.current {
  background: $borderColor;
  color: $bodyColor;
  padding: 8px 14px;
  margin: 0 5px;
  @include border-radius (4px);
  border: none !important;
  display: inline-block;
  font-weight: bold;
}
