@import "reset";
@import "bits";
@import "type";
@import "mediaelement";
@import "compass/css3";
@import "pagenavi";


// Reusable Styles

.contain {
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;

  @media screen and (max-width: 960px ) {
    margin: 0 30px;
  }
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.inactive {
  color: darken($borderColor, 15%);
}

.page-title {
  border-bottom: 3px solid $borderColor;
  font-size: 2.3em;
  font-weight: 900;
  padding: 0 0 2%;
  margin: 0 0 3.5%;
}

// Global Styles

body {
  color: $bodyColor;
}

a {
  color: $bodyColor;
  text-decoration: underline;
  @include transition(all .2s ease-in-out);
  &:hover {
    color: $primaryOrange;
  }
}


.main-content {
  margin: 5% 0;
}


// Header Styles
@import "header";

// Episode Styles
@import "episodes";

// Page Styles
@import "pages";

// Form Styles
@import "forms";

// Live Styles
@import "live";

// Footer Styles
@import "footer";
