

@media screen and (max-width: 1038px) {

  .description {
    width: 89%;
  }

  .right {
    float: left !important;
  }

  .content-header {
    .five {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .adspot, .guest-info {
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 20px;
    margin: 0;
    margin-bottom: 20px !important;
  }
}


@media screen and (max-width: 890px) {
  
  .three {
    width: 31.5%;
  } 

  .seven {
    width: 98%;
  }
  
}


@media screen and (max-width: 768px) {
  
  .description {
    width: 97%;
  }

  .description p {
    font-size: 20px;
  }

  

  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
    margin: .877193% .877193% .877193% .877193%
  }


}

@media screen and (max-width: 637px) {

  header {
    .twelve {
      width: 129px;
      margin: 0 auto;
    }
  }

  .three {
    width: 48.2%;
  }
  
  .description {
    display: none;
  }

  nav {
    margin: 6px 0 15px 0;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }
  
  p {
    font-size: 17px;
  }

  .navigation {
    font-size: 18px;
  }

}


@media screen and (max-width: 480px) {
    
    .three {
    width: 98%;
  }

.entry {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  h2 {
    width: auto;
    height: auto;
    white-space: normal;
    overflow: hidden;
    text-overflow: none;
  }
  &:last-child {
    border-bottom: none !important;
  }
  img {
    max-width: 100px;
    float: left;
    margin-right: 15px;
  }
}

.net-ribbon {
  top: -9999px;
  right: -9999px;
}

  

}

@media screen and (max-width: 320px) {
  
  

nav {
  margin: 6px 0 20px 0;
  a {
    font-size: 15px;
    margin-right: 5px;
  }
}

.itunes {
  margin-right: 2px;
}


}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
