
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: ;
$bodyColor: ;
$linkColor: ;
$borderColor: ;
$jazzColor: ;
$alertColor: ;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: ;
$spacing-xs: ;
$spacing-s: ;
$spacing-m: ;
$spacing-l: ;
$spacing-xl: ;