
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #444;
$bodyColor: #666;
$linkColor: #d06f00;
$borderColor: #eee;
$jazzColor: #281212;
$alertColor: #e54a4f;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: 10px;
$spacing-xs: 15px;
$spacing-s: 20px;
$spacing-m: 30px;
$spacing-l: 40px;
$spacing-xl: 50px;
