/*

BUTTONS
---------------------------------------------------------

*/

.button {
  background: $linkColor;
  @include border-radius(2px);
  padding: 8px 15px;
  color: white;
  font-weight: bold;
  font-size: .85em;
  margin-top: $spacing-m;
  @include transition(background .2s ease-in-out);
  &:hover {
    background: darken($linkColor, 5%);
  }
}
