/*

OBJECTS
-------------------------------------------

*/

body {
  background: darken($jazzColor, 2%);
}

.contain {
  width: 600px;
  margin: 0 auto $spacing-l;
  @extend %clearfix;

  background: white;
  padding: $spacing-l;
}
